# env files
.env
.env.*
!.env.example

# dependencies
node_modules/

# Directus
uploads/
extensions/**/node_modules/
database/data.db

# migration script dry-run output
/scripts/migrate/output

# misc
.DS_Store
*.log
